@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  background-color: #f7f8fa;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: inherit;
}

h1, h2, h3, p {
  margin: 0;
}
